## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=5
print(x)

5

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
print(type(8.5))

type(8.5)

<class 'float'>

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print(type(x))
type(x)

<class 'int'>

int

4) Crear una variable que contenga tu nombre

In [7]:
nombre="Horacio"

5) Crear una variable que contenga un número complejo

In [10]:
var_compl= 6+5j
print(var_compl)

(6+5j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
type(var_compl)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [22]:
pi=3.1416
print(pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
verdad="True"
verdad1=True
#Son variables distintas, puesto que una es str y la otra bool
print(type(verdad))
print(type(verdad1))

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(type(verdad))
print(type(verdad1))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
ent_dec=2+4.5

11) Realizar una operación de suma de números complejos

In [19]:
x=1+2j
y=3+1j
print(x+y)

(4+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
x=2
y=3+1j
print(x+y)

(5+1j)

13) Realizar una operación de multiplicación

In [23]:
print(pi*x)

6.2832

14) Mostrar el resultado de elevar 2 a la octava potencia

In [25]:


print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [3]:
var=27/4
print(var)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print("%d" % (var))
print(type("%d" % (var)))
entera=27//4
print(entera)

6
<class 'str'>
6

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [7]:
print(27%4)
resto=27%4
print(resto)

3
3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [13]:
print(entera)
print(resto)
print(entera*4+resto)

6
3
27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
var1="Hola"
var2=" Horacio"
var1+var2

'Hola Horacio'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [23]:
"2"==2 #son dos tipos de valores distintos, str e int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [24]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
a=float("3,8")#arroja error porque para pasar a flotante tiene que llevar punto y no coma
print(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [34]:
valor3=3
valor3-=1
print(valor3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [38]:
1<<2 #El resultado es 4 (en sistema decimal, utilizado por python para mostrar resultados) 
     #porque con la op 1<<2 estamos moviendo la posicion del 1 dos lugares hacia la izquierda dentro del sistema binario
     #(sistema en el cual se procesan los datos), o sea, pasamos de 0001 a 0100, y 0100 en binario equivale a 4 en el sistema decimal

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [56]:

print(int(2) + int('2') )
print(str(2) + str('2') )
print(float(2))
print(float(2.0) + float('2') )
#2+"2" No está permitido porque es una operación de dos tipos de datos diferentes no compatibles

4
22

TypeError: 'float' object is not callable

26) Realizar una operación válida entre valores de tipo entero y string

In [5]:
Entero=2
cadena="hola "
cadena*Entero

'hola hola '